<a href="https://colab.research.google.com/github/FelipeVillegasH/Track3/blob/main/SQL_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro SQL
## By Felipe Villegas

In [29]:
import pandas as pd
from sqlalchemy import create_engine

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [31]:
df = pd.read_csv('/content/drive/MyDrive/CodingDojo/Track 3/Core/Week 4 /School_Details.csv')
df.head()

,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,ConstituencyName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,Rhenock,...,28126,58.0,8.0,16.0,Recognized,HRDD,NaN,Class 1,Class 5,NaN
1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,West Pandam,...,15342,50.0,0.0,6.0,Recognized,HRDD,NaN,Class 1,Class 12,C.B.S.E.
2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,West Pandam,...,37257.38680555556,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",NaN,Class 1,Class 10,C.B.S.E.
3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,West Pandam,...,28856,60.0,6.0,6.0,Recognized,State Govt.,NaN,Class 1,Class 8,NaN
4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,West Pandam,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,NaN,Class 1,Class 10,C.B.S.E.

In [32]:
# instantiating the engine
engine = create_engine('sqlite:///schools.db', echo = True)
connection = engine.connect()

In [34]:
# Dataframe in SQL format: 
sql = 'school_detail'
df.to_sql(sql, connection, if_exists = 'fail')

2022-04-04 04:47:43,105 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_detail")
2022-04-04 04:47:43,109 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-04 04:47:43,112 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("school_detail")
2022-04-04 04:47:43,113 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-04-04 04:47:43,128 INFO sqlalchemy.engine.Engine
CREATE TABLE school_detail (
	"index" BIGINT,
	"DistrictName" TEXT,
	"EstablishmentCode" TEXT,
	"EstablishmentName" TEXT,
	"BRCName" TEXT,
	"CRCName" TEXT,
	"SchoolLevel" TEXT,
	"ManagementName" TEXT,
	"LocalityHabitation" TEXT,
	"SubdivisionName" TEXT,
	"ConstituencyName" TEXT,
	"RevenueBlockName" TEXT,
	"CivicBodyName" TEXT,
	"WardName" TEXT,
	"PostOfficeName" TEXT,
	"PhoneNo" TEXT,
	"FaxNo" TEXT,
	"EmailID" TEXT,
	"Website" TEXT,
	"LocatedInRuralOrUrban" TEXT,
	"DiseCode" TEXT,
	"EstablishedDate" TEXT,
	"DistrictHQDistance (in Km)" FLOAT,
	"CRCDistance (in Km)" FLOAT,
	"BACDistance (in Km)" FLOAT,
	"IsRecognized" TEXT,
	"RecognizedBy" TEXT,
	"ContactPersonName" FLOAT,
	"LowestClass" TEXT,
	"HighestClass" TEXT,
	"BoardName" TEXT
)


2022-04-04 04:47:43,130 INFO sqlalchemy.engine.Engine [no key 0.00190s] ()
2022-04-04 04:47:43,143 INFO sqlalchemy.engine.Engine COMMIT
2022-04-04 04:47:43,145 INFO sqlalchemy.engine.Engine CREATE INDEX ix_school_detail_index ON school_detail ("index")
2022-04-04 04:47:43,149 INFO sqlalchemy.engine.Engine [no key 0.00395s] ()
2022-04-04 04:47:43,166 INFO sqlalchemy.engine.Engine COMMIT
2022-04-04 04:47:43,177 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-04-04 04:47:43,249 INFO sqlalchemy.engine.Engine INSERT INTO school_detail ("index", "DistrictName", "EstablishmentCode", "EstablishmentName", "BRCName", "CRCName", "SchoolLevel", "ManagementName", "LocalityHabitation", "SubdivisionName", "ConstituencyName", "RevenueBlockName", "CivicBodyName", "WardName", "PostOfficeName", "PhoneNo", "FaxNo", "EmailID", "Website", "LocatedInRuralOrUrban", "DiseCode", "EstablishedDate", "DistrictHQDistance (in Km)", "CRCDistance (in Km)", "BACDistance (in Km)", "IsRecognized", "RecognizedBy", "ContactPersonName", "LowestClass", "HighestClass", "BoardName") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-04-04 04:47:43,252 INFO sqlalchemy.engine.Engine [generated in 0.06560s] ((0, 'East', 'S0169', 'BUDANG GOVERNMENT PRIMARY SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'BUDANG', 'Gangtok', 'Rhenock', 'Central Pendam', 'Central Pendam', 'Sajong', 'Upper Pendam', None, None, None, None, 'Urban Area', None, '28126', 58.0, 8.0, 16.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 5', None), (1, 'East', 'S0099', 'CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SSS', 'State Govt.', 'CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Karmithang', 'Upper Pendam', '3592263812', None, None, None, 'Urban Area', '800401', '15342', 50.0, 0.0, 6.0, 'Recognized', 'HRDD', None, 'Class 1', 'Class 12', 'C.B.S.E.'), (2, 'East', 'S0848', 'CENTRAL POINT ACADEMY, CENTRAL PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'Private (Unaided)', 'UPPER BHURUNG CENTRAL PENDAM', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Burung', 'Upper Pendam', '03592263809/263960', None, 'ksu_5162@yahoo.com', 'www.facebook.com/khanalkeshav (Group-CPA)', 'Urban Area', None, '37257.38680555556', 49.0, 1.5, 6.0, 'Recognized', 'HRDD, GOVT. OF SIKKIM', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (3, 'East', 'S0190', 'CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E)', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'JHS', 'State Govt.', 'CHEURIBOTEY', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Cheuribotey', 'Duga', None, None, None, None, 'Urban Area', None, '28856', 60.0, 6.0, 6.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 8', None), (4, 'East', 'S0111', 'DUGA GOVERNMENT SECONDARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'SS', 'State Govt.', 'DUGA', 'Gangtok', 'West Pandam', 'Central Pendam', 'Central Pendam', 'Duga', 'Duga', '9832082915', None, 'dugaschool@gmail.com', None, 'Urban Area', None, '1828', 52.0, 0.0, 0.5, 'Recognized', 'c.b.s.e.', None, 'Class 1', 'Class 10', 'C.B.S.E.'), (5, 'East', 'S0856', 'EASWARAMMA SAI GURUKOOL ACCADEMY', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'RALUNG', 'Gangtok', 'West Pandam', 'Central Pendam', 'West Pendam', 'Ralang', 'West Pendam', '9733056624', None, None, None, 'Urban Area', None, '40179.66805555556', 0.0, 0.2, 0.2, 'Recognized', None, None, 'Class 1', 'Class 5', None), (6, 'East', 'S0870', 'ETERNAL ENGLISH SCHOOL, WEST PENDAM', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'Private (Unaided)', 'SAKHU WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Sakhu', 'Sakhu Busty', '9734190544', None, None, None, 'Urban Area', None, '37300.66805555556', 42.0, 3.0, 4.0, 'Recognized', 'HRDD OF SIKKIM', None, 'Class 1', 'Class 5', None), (7, 'East', 'S0157', 'KHANI GOAN GOVERNMENT PRIMARY SCHOOL', 'Duga Brc', 'Central Pendam Government Senior Secondary School', 'PS', 'State Govt.', 'WEST PENDAM', 'Gangtok', 'West Pandam', 'West Pendam', 'West Pendam', 'Khanigaon', 'West Pendam', '9832470263', None, None, None, 'Urban Area', '801801', '29587', 45.0, 5.0, 4.0, 'Recognized', 'State Govt.', None, 'Class 1', 'Class 5', 'C.B.S.E.')  ... displaying 10 of 1249 total bound parameter sets ...  (1247, 'West', 'S0340', 'TINGTING GAON GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TING TING GAON', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Tingting', 'Yuksom', '9593377402', None, None, None, 'Urban Area', '100282', '29587', 36.0, 3.0, 6.0, 'Recognized', 'STATE GOVERNMENT', None, 'Class 1', 'Class 5', None), (1248, 'West', 'S0542', 'TSONG GOVERNMENT PRIMARY SCHOOL', 'Yuksom Brc', 'Yuksom Government Secondary School', 'PS', 'State Govt.', 'TSONG', 'Gyalshing', 'Yoksam-Tashiding', 'Yoksam', 'Yuksom', 'Yoksam', 'Yuksom', None, None, None, None, 'Urban Area', None, '28176', 40.0, 7.0, 8.0, 'Recognized', 'State Government', None, 'Class 1', 'Class 5', 'C.B.S.E.'))
2022-04-04 04:47:43,274 INFO sqlalchemy.engine.Engine COMMIT

The following code serves the purpose to select certain variables to recreate dataframes in SQL

In [36]:
sql = """
SELECT EstablishmentName, SchoolLevel, Website
FROM school_details
"""

df = pd.read_sql_query(sql, engine)
df.head()

2022-04-04 04:49:11,505 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, SchoolLevel, Website
FROM school_details

2022-04-04 04:49:11,508 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,Website
0,BUDANG GOVERNMENT PRIMARY SCHOOL (E),PS,None
1,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,SSS,None
2,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",SS,www.facebook.com/khanalkeshav (Group-CPA)
3,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),JHS,None
4,DUGA GOVERNMENT SECONDARY SCHOOL,SS,None

In [37]:
sql = """
SELECT EstablishmentName, "DistrictHQDistance (in Km)"
FROM school_details
WHERE "DistrictHQDistance (in Km)" > 100
"""

df = pd.read_sql_query(sql, engine)
df.head()

2022-04-04 04:49:15,355 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, "DistrictHQDistance (in Km)"
FROM school_details
WHERE "DistrictHQDistance (in Km)" > 100

2022-04-04 04:49:15,359 INFO sqlalchemy.engine.Engine [raw sql] ()

                    EstablishmentName  DistrictHQDistance (in Km)
0  DODACHEN GOVERNMENT PRIMARY SCHOOL                       150.0
1   DEOLING GOVERNMENT PRIMARY SCHOOL                       107.0
2       PEMA TSEL ACADEMY(PHADAMCHEN)                       110.0
3    ZULUCK GOVERNMENT PRIMARY SCHOOL                       120.0
4   BHARENG GOVERNMENT PRIMARY SCHOOL                       150.0

In [38]:
sql = """
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE SchoolLevel = 'JHS'
"""

df = pd.read_sql_query(sql, engine)
df.head()

2022-04-04 04:49:44,051 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE SchoolLevel = 'JHS'

2022-04-04 04:49:44,054 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,DistrictHQDistance (in Km)
0,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),JHS,60.0
1,"PADMA KUMARI PUBLIC SCHOOL, DUGA",JHS,48.0
2,SAJONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,57.0
3,SINGLEYBONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,38.0
4,"SUNRISE ACADEMY, DUGA",JHS,47.0

In [39]:
sql = """
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE EstablishmentName LIKE '%JUNIOR HIGH%'
"""

df = pd.read_sql_query(sql, engine)
df.head()

2022-04-04 04:50:04,955 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, SchoolLevel, "DistrictHQDistance (in Km)"
FROM school_details
WHERE EstablishmentName LIKE '%JUNIOR HIGH%'

2022-04-04 04:50:04,958 INFO sqlalchemy.engine.Engine [raw sql] ()

,EstablishmentName,SchoolLevel,DistrictHQDistance (in Km)
0,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),JHS,60.0
1,SAJONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,57.0
2,SINGLEYBONG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,38.0
3,BORDANG GOVERNMENT JUNIOR HIGH SCHOOL,JHS,33.0
4,RANGPO BAZAR GOVERNMENT JUNIOR HIGH SCHOOL,JHS,47.0

In [40]:
sql = """
SELECT EstablishmentName, LocatedInRuralOrUrban
FROM school_details
WHERE LocatedInRuralOrUrban LIKE 'Urban%'
ORDER BY EstablishmentName DESC
"""

df = pd.read_sql_query(sql, engine)
df.head()

2022-04-04 04:50:29,328 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName, LocatedInRuralOrUrban
FROM school_details
WHERE LocatedInRuralOrUrban LIKE 'Urban%'
ORDER BY EstablishmentName DESC

2022-04-04 04:50:29,334 INFO sqlalchemy.engine.Engine [raw sql] ()

                       EstablishmentName LocatedInRuralOrUrban
0       ZULUCK GOVERNMENT PRIMARY SCHOOL            Urban Area
1       ZOOM GOVERNMENT SECONDARY SCHOOL            Urban Area
2  ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL            Urban Area
3       ZINGLA GOVERNMENT PRIMARY SCHOOL            Urban Area
4                   ZENITH PUBLIC SCHOOL            Urban Area

In [44]:
sql = """
SELECT EstablishmentName AS 'Nombre', LocatedInRuralOrUrban
FROM school_details
WHERE LocatedInRuralOrUrban LIKE 'Urban%'
ORDER BY EstablishmentName DESC
"""

df = pd.read_sql_query(sql, engine)
df.head()

2022-04-04 04:54:22,329 INFO sqlalchemy.engine.Engine
SELECT EstablishmentName AS 'Nombre', LocatedInRuralOrUrban
FROM school_details
WHERE LocatedInRuralOrUrban LIKE 'Urban%'
ORDER BY EstablishmentName DESC

2022-04-04 04:54:22,332 INFO sqlalchemy.engine.Engine [raw sql] ()

                                  Nombre LocatedInRuralOrUrban
0       ZULUCK GOVERNMENT PRIMARY SCHOOL            Urban Area
1       ZOOM GOVERNMENT SECONDARY SCHOOL            Urban Area
2  ZITLANG GOVERNMENT JUNIOR HIGH SCHOOL            Urban Area
3       ZINGLA GOVERNMENT PRIMARY SCHOOL            Urban Area
4                   ZENITH PUBLIC SCHOOL            Urban Area

In [45]:
connection.close()